<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <test name="imdb testing">
        <groups>
            <define name="AllTest"/>
            <run>
                <include name="main" />
            </run>
        </groups>
        <classes>
            <class name="lt.povilas.pupkys.test.ImdbTesting" />
        </classes>
    </test>
</suite>
